Repository michellebau/mywebclass-simulation, pull requests merged in 2023-03, with the labels that each got.

#12 added aria label test
  tests/mywebclass_ariaLabel.spec.js
Labels: Web accessibility and internalization

#14 checking for img alt text
  tests/mywebclass_imageAltText.spec.js
Labels: Web accessibility and internalization

#16 first attempt at keyboard nav test
  .DS_Store
  tests/mywebclass_keyboardNav.spec.js
Labels: Web accessibility and internalization

#18 Google analytics
  readme.md
  src/js/main.js
  team_productivity_log.md
  tests/mywebclass_DisagreeButton.spec.js
  tests/mywebclass_googleAnalytics.spec.js
  tests/mywebclass_imageAltText.spec.js
Labels: SEO

#21 adding two footer tests
  tests/mywebclass_footerExists.spec.js
  tests/mywebclass_footerNotEmpty.spec.js
Labels: Web accessibility and internalization

#24 privacy policy updated
  src/index.html
  src/privacy.html
Labels: Website Legal

#28 updating productivity log
  team_productivity_log.md
Labels: documentation
